@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
:root {
	--red: #dd5555;
	--grey: #ebebeb;
	--white: #ffffff;
	--txt: #817a83;
	--shadow: #cacaca;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: var(--txt);
}
body, main {
	width: 100vw;
	min-height: 100vh;
}
main {
	background: var(--grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.2em;
	padding: 5vh 0;
}
main>section {
	width: 40%;
	background: var(--white);
	border-radius: 5px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	box-shadow: 0.5px 0.5px 0.2em var(--shadow);
}
h1 {
	color: var(--red);
	font-weight: 800;
}
h2 {
	font-weight: 600;
}
a {
	text-decoration: none;
}
p {
	font-weight: 400;
	line-height: 1.5em;
	word-spacing: 5px;
	text-align: justify;
}
img {
	width: 7em;
}
section:first-child figure img {
	border-radius: 100%;
	border: 3px solid var(--grey);
	aspect-ratio: 1/1;
}
section:first-child a {
	padding: 0.5em;
	color: var(--white);
	background: var(--red);
	border-radius: 5px;
	border: 2px solid var(--red);
	transition: all .3s ease;
}
section:first-child a:hover {
	background: none;
	color: var(--red);
}
ul {
	list-style-type: none;
	width: 100%;
	padding: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2em;
}
li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--shadow);
}
li a i {
	color: var(--shadow);
	font-size: 1.3em;
	margin-bottom: 0.3em;
}
li a:hover, li a:hover i {
	color: var(--red);
}
li:nth-child(1) a:hover i, li:nth-child(3) a:hover i {
	animation: wiggle 1.2s ease-in-out infinite;
	/*
	animation-name: wiggle;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	*/
}
li:nth-child(2) a:hover i {
	animation: rainbow 1.2s ease-in-out infinite;
	/*
	animation-name: rainbow;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	*/
}
main>section:last-child {
	gap: 3em;
	padding: 3em 0;
}
section section {
	width: 90%;
	display: grid;
	grid-template-columns: 25% 75%;
}
section article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5em;
	margin-left: 1em;
}
section article h3 {
	font-weight: 600;
}

@keyframes rainbow {
	0% {
		color: var(--red);
	}
	20% {
		color: #c48a32;
	}
	40% {
		color: #f7db32;
	}
	60% {
		color: #63ff55;
	}
	80% {
		color: #4285f6;
	}
	100% {
		color: #c83fff;
	}
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width:1200px) {
	main>section {
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	section>section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}